# List submission

In [3]:
def sumNum(*args):
    a = list(args)
    return(f"Total sum is << {sum(a)} >> for list {a}")
sumNum(7,7,7,7,6,6,7,6,7,7,6,7,6,7,6,7,7,6,6)

# a = float(sumNum(11,10,15,13,13).split(" ")[4])
# print(f"For QTY << {a} >> Amount is {round((a*1.12*48),2)}")

'Total sum is << 125 >> for list [7, 7, 7, 7, 6, 6, 7, 6, 7, 7, 6, 7, 6, 7, 6, 7, 7, 6, 6]'

# RMC bill checking

In [9]:
import pandas as pd
import numpy as np
a = '''
4500196911 RMC Supply With Flyash  M50 Grade	20	M3	D	04.11.2022	6,700.00
4500196911 RMC Supply With Flyash  M60 Grade	75	M3	D	04.11.2022	7,150.00
4500197822 RMC Supply with FLY ASH-M70 Grade	150	M3	D	30.11.2022	8,300.00
4500197329 RMC Supply With Flyash  M50 Grade	60	M3	D	17.11.2022	6,700.00
4500197329 RMC Supply With Flyash  M60 Grade	75	M3	D	17.11.2022	7,150.00
4500197290 RMC Supply With Flyash  M40 Grade	25	M3	D	17.11.2022	6,200.00
4500197290 RMC Supply With Flyash  M50 Grade	50	M3	D	17.11.2022	6,700.00
4500197290 RMC Supply With Flyash  M60 Grade	50	M3	D	17.11.2022	7,150.00
4500197838 RMC Supply with FLY ASH-M70 Grade	100	M3	D	30.11.2022	8,300.00
4500198108 RMC Supply With Flyash  M15 Grade	100	M3	D	14.12.2022	4,750.00
4500198107 RMC Supply With Flyash  M15 Grade	50	M3	D	14.12.2022	4,750.00
4500198431 RMC Supply With Flyash  M15 Grade	18	M3	D	22.12.2022	4,650.00
4500198332 RMC Supply With Flyash  M40 Grade	90	M3	D	21.12.2022	6,200.00
4500198332 RMC Supply With Flyash  M60 Grade	90	M3	D	21.12.2022	7,150.00
4500198332 RMC Supply with FLY ASH-M70 Grade	140	M3	D	25.12.2022	8,300.00
4500198332 RMC Supply With Flyash  M50 Grade	125	M3	D	21.12.2022	6,700.00
4500198326 RMC Supply With Flyash  M40 Grade	80	M3	D	21.12.2022	6,200.00
4500198326 RMC Supply With Flyash  M50 Grade	125	M3	D	21.12.2022	6,700.00
4500198326 RMC Supply With Flyash  M60 Grade	80	M3	D	21.12.2022	7,150.00
4500198326 RMC Supply with FLY ASH-M70 Grade	130	M3	D	15.12.2022	8,300.00
4500197330 RMC Supply With Flyash  M10 Grade	50	M3	D	17.11.2022	4,217.00
4500197330 RMC Supply With Flyash  M50 Grade	50	M3	D	17.11.2022	6,700.00
4500197330 RMC Supply With Flyash  M60 Grade	50	M3	D	17.11.2022	7,150.00
4500198433 RMC Supply With Flyash  M40 Grade	102	M3	D	22.12.2022	6,200.00
4500198326 RMC Supply With Flyash  M40 Grade	80	M3	D	21.12.2022	6,200.00
4500198326 RMC Supply With Flyash  M50 Grade	125	M3	D	21.12.2022	6,700.00
4500198326 RMC Supply With Flyash  M60 Grade	80	M3	D	21.12.2022	7,150.00
4500198326 RMC Supply with FLY ASH-M70 Grade	130	M3	D	15.12.2022	8,300.00
'''

po_datas = []
for i in (a.strip().splitlines()):
    try:
        po = i.split('\t')[0][:10]
    except:
        po = None
    try:
        grade = i.split('\t')[0].strip()[-9:-6]
    except:
        grade = None
    try:
        rate = i.split('\t')[-1]
    except:
        rate = None
    try:
        po_qty = i.split('\t')[1]
    except:
        po_qty = None
    po_data = {
        'po_no':po,
        'grade':grade,
        'po_qty':po_qty,
        'rate':rate
        
    }
    po_datas.append(po_data)
df = pd.DataFrame(po_datas)
df['rate'] = df.rate.str.replace(',','').astype(float)

def sumNum(*args):
    a = list(args)
    return(sum(a))

# Enter QTY
q = sumNum(6)

df['qty'] = q
df['amount'] = (df['rate'] * df['qty']) * 1.18
df['strength'] = df.grade.str[1:].astype(float)*.65

# Enter PO number and Grade
df[(df.po_no == '4500198326')&(df.grade == 'M60')]
# df.groupby(['grade','strength']).size()
# df[(df.po_no == '4500197650')]
# df

         po_no grade po_qty    rate  qty   amount  strength
18  4500198326   M60     80  7150.0    6  50622.0      39.0
26  4500198326   M60     80  7150.0    6  50622.0      39.0