# How to create python andas dataframe

In [1]:
import pandas as pd
import numpy as np

In [2]:
emt_df = pd.DataFrame()
print(emt_df)

Empty DataFrame
Columns: []
Index: []

In [3]:
lst = ['a', 'b', 'c']
print(lst)

['a', 'b', 'c']

In [4]:
df1 = pd.DataFrame(lst)
print(df1)

   0
0  a
1  b
2  c

In [5]:
df1

   0
0  a
1  b
2  c

In [6]:
ls_of_ls = [[1,2,3],[2,3,4],[4,5,6]]
print(ls_of_ls)

[[1, 2, 3], [2, 3, 4], [4, 5, 6]]

In [8]:
df2 = pd.DataFrame(ls_of_ls)
print(df2)

   0  1  2
0  1  2  3
1  2  3  4
2  4  5  6

In [9]:
dict1 = {'id':[11,22,33,44]}
dict1

{'id': [11, 22, 33, 44]}

In [11]:
df3 = pd.DataFrame(dict1)
df3

   id
0  11
1  22
2  33
3  44

In [14]:
dict1 = {'id':[11,22,33,44], 'sn': [1,2,3,4]}
dict1

{'id': [11, 22, 33, 44], 'sn': [1, 2, 3, 4]}

In [15]:
df3 = pd.DataFrame(dict1)
df3

   id  sn
0  11   1
1  22   2
2  33   3
3  44   4

In [19]:
ls_dict = [{'a': 1 , 'b': 2}, {'a':3,'b':4}]
print(ls_dict)

[{'a': 1, 'b': 2}, {'a': 3, 'b': 4}]

In [20]:
df5 = pd.DataFrame(ls_dict)
df5

   a  b
0  1  2
1  3  4

In [21]:
ls_dict = [{'a': 1 , 'b': 2}, {'a':3,'b':4, 'c:':5}]
print(ls_dict)

[{'a': 1, 'b': 2}, {'a': 3, 'b': 4, 'c:': 5}]

In [22]:
df5 = pd.DataFrame(ls_dict)
df5

   a  b   c:
0  1  2  NaN
1  3  4  5.0

In [23]:
dict_sr = {'id':pd.Series([1,2,3]), 'sn':pd.Series([111,222,333])}
print(dict_sr)

{'id': 0    1
1    2
2    3
dtype: int64, 'sn': 0    111
1    222
2    333
dtype: int64}

In [24]:
df6 = pd.DataFrame(dict_sr)
df6

   id   sn
0   1  111
1   2  222
2   3  333