# pandas datetime index functinality

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [17]:
df = pd.read_csv('data/vc_startups.csv')
df

          date  r&d spend  marketing spend  profit
0   01-07-2019     158082            59393   98689
1   02-07-2019     109258            18151   91107
2   03-07-2019     173166            76557   96609
3   04-07-2019     170535            72351   98184
4   05-07-2019     182619            83327   99292
5   06-07-2019     100614             2738   97876
6   07-07-2019     120608            25630   94978
7   08-07-2019     163864            66266   97598
8   09-07-2019     115258            20368   94890
9   10-07-2019     156133            57015   99118
10  11-07-2019     168577            75818   92759
11  12-07-2019     101210             9931   91279

In [18]:
df.dtypes

date               object
r&d spend           int64
marketing spend     int64
profit              int64
dtype: object

In [20]:
type(df.date[0])

str

In [22]:
df = pd.read_csv('data/vc_startups.csv', parse_dates=['date'])
df

         date  r&d spend  marketing spend  profit
0  2019-01-07     158082            59393   98689
1  2019-02-07     109258            18151   91107
2  2019-03-07     173166            76557   96609
3  2019-04-07     170535            72351   98184
4  2019-05-07     182619            83327   99292
5  2019-06-07     100614             2738   97876
6  2019-07-07     120608            25630   94978
7  2019-08-07     163864            66266   97598
8  2019-09-07     115258            20368   94890
9  2019-10-07     156133            57015   99118
10 2019-11-07     168577            75818   92759
11 2019-12-07     101210             9931   91279

In [23]:
df.dtypes

date               datetime64[ns]
r&d spend                   int64
marketing spend             int64
profit                      int64
dtype: object

In [24]:
type(df.date[0])

pandas._libs.tslibs.timestamps.Timestamp